/*------------------------------------*\
  #MODULAR SCALE SETTINGS
\*------------------------------------*/

@import '~modularscale-sass';

$modularscale: (
  base: 1rem,
  ratio: $fourth
);

/*------------------------------------*\
  #COLORS
\*------------------------------------*/

$white: #fff;

/*------------------------------------*\
  #LAYOUT SETTINGS
\*------------------------------------*/

$global-gutter: 1rem;