/*------------------------------------*\
  #MODULAR SCALE SETTINGS
\*------------------------------------*/

@import '~modularscale-sass';

$modularscale: (
  base: 1rem,
  ratio: $fourth
);

/*------------------------------------*\
  #COLORS
\*------------------------------------*/

$white: #fff;

$lt-gray: #f5f5f5;

$black: #212121;

$blue: #01579b;

/*------------------------------------*\
  #LAYOUT SETTINGS
\*------------------------------------*/

$global-gutter: 1rem;