/*------------------------------------*\
  #MODULAR SCALE SETTINGS
\*------------------------------------*/

@import '~modularscale-sass';

$modularscale: (
  base: 1rem,
  ratio: $fourth
);

/*------------------------------------*\
  #COLORS
\*------------------------------------*/

$white: #fff;
$off-white: #FFFBF1;

$black: #000;

$gold: #CBB370;

/*------------------------------------*\
  #LAYOUT SETTINGS
\*------------------------------------*/

$global-gutter: 1rem;