@mixin hover-transition($property) {
  transition: $property .2s ease-in-out;
}

@mixin anchor-styles($has-border: true) {
  color: $md-gray;
  font-size: ms(0);
  font-weight: 500;
  text-decoration: none;
  @include hover-transition(color);

  @if $has-border {
    padding-bottom: ms(-5);
    border-bottom: 2px solid;
  }

  &:hover {
    color: $white;
  }
}

@mixin media-query($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

@mixin max-width-mq($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}